.contact__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem auto;
    width: fit-content;
    gap: 2rem;
}

.contact__wrapper a {
    background: var(--primary-color);
    color: antiquewhite;
    font-size: 2rem;
    border: 2px solid transparent;
    transition: 500ms;
    padding: 2rem;
    border-radius: 1.5rem;
}

.contact__wrapper a:hover {
    color: var(--primary-color-dark);
    background: transparent;
    border-color: var(--primary-color-dark);
}

/* MEDIS QUERRIES (small screens) */
@media screen and (max-width: 600px) {
    .contact__wrapper{
        gap: 1.5rem;
    }

    .contact__wrapper a {
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 1rem;
    }
}